<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js HTML Rendering</title>
</head>
<body>
    <p>worker 1 value is, <%= worker_1 %></p>
    <p>worker 2 value is, <%= worker_2 %></p>
</body>
</html>
